<h1>Edit My Plan</h1>
<p>Please click below if you are sure you would like to return to our Standard Free Plan</p>
<p><strong>Note: You will loose access to all our Premium Features and your Privite wikis will become Public</strong></p>

<%= link_to "Cancel Premium Plan", charges_downgrade_path, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to loose your Premium Plan benifits?' }, %>
